$textColor: #212121;

body {
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial;
  color: $textColor;
  width: 290px;
  margin: 5px;
  font-size: 14px;
}

a {
  color: $textColor;
  text-decoration: none;
}

.state {
  &.pr { background-color: #ecdfe9; }
  &.s { background-color: #eee; }
  &.r { background-color: #eee; }
  &.a { background-color: #eee; }
  &.no { background-color: #d2a8a8; }
  &.i { background-color: #eee; }
  &.pre { background-color: #c5e9f5; }
  &.l { background-color: #aae5fe; }
  &.f { background-color: #e2f0d7; }
  &.pd { background-color: #e2f0d7; }
  &.fa { background-color: #d2a8a8; }
  &.c { background-color: #000; }
}

.id {
  font-weight: 300;
}

.user {
  .id {
    float: right;
  }
  .name {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 1.5em;
    font-weight: 400;
  }
  .count {
    margin: 20px 0;
  }
}

ul.projects {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-weight: 300;

  li {
    padding-bottom: 20px;
  }
  .progress-bubble {
    float: left;
    margin-right: 10px;
  }
  .state {
    padding: 3px 6px;
  }
  .title {
    margin-top: 5px;
    font-weight: 400;
  }
  .id {
    float: right;
  }
}

@import 'progress-bubble';
