.progress-bubble {
  $size: 35px;

  height: $size;
  width: $size;

  circle {
    &.pr { fill: #C3EFFF; }
    &.s { fill: #FFC95C; }
    &.r { fill: #F8B6E9; }
    &.a { fill: #35B1FF; }
    &.no { fill: #eee; }
    &.i { fill: #eee; }
    &.pre { fill: #46FFF5; }
    &.l { fill: #2ECAB5; }
    &.ss { fill: #A2FFAD; }
    &.f { fill: #FAFF88; }
    &.pd { fill: #28E986; }
    &.fa { fill: #eee; }
    &.c { fill: #949494; }
  }
  path.funding {
    fill: #00860F;
  }
  path.duration {
    fill: #fff;
    opacity: 0.7;
  }
}
